html, body {
	width: 100%;
	height: 100%;
	margin: 0;
    background-color: aliceblue;
}
.title {
    color: #000;
    text-align: center;
}

.projetos {
    color: #000;
}

.post1 {
    margin: 10px;
    padding: 10px;
    margin-right: 850px;
    border-radius: 5px;
    background-color: rgb(82, 100, 116);
}